*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html, body{
  width: 100%;
  height: 100%;
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Spectral','Century';
}

/* Navbar */
.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  width: 100%; 
  z-index: 1000; 
}
.navbar ul{
  display: flex;
  list-style: none;
  margin: 20px 0;
}
.navbar ul li{
  font-size: 1.3rem;
  font-weight: bold;
}
.navbar ul li a{
  text-decoration: none;
  color: white;
  padding: 8px 25px;
  transition: all .5s ease;
  border-radius: .25rem;
}
.navbar ul li a:hover{
  background-color: white;
  color: black;
  box-shadow: 0 0 10px white;
  border-radius: .25rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/*sidebar*/
.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 350px;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(52, 52, 52, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar ul{
  list-style: none;
  margin: 20px 0;
}
.sidebar ul li{
  font-size: 1.3rem;
  font-weight: bold;
  width: 100%;
  padding: 10px;
}
.sidebar ul li a{
  text-decoration: none;
  color: white;
  padding: 8px 25px;
  transition: all .5s ease;
  border-radius: .25rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar ul li a:hover{
  background-color: white;
  color: black;
  box-shadow: 0 0 10px white;
  border-radius: .25rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.menu-button{
  display: none;
}
svg{
  fill: white;
  height: auto;
}
svg:hover{
  fill: black;
}
.menu-button:hover a svg {
  fill: black;
}


/* Home Section */
#home{
  display: flex;
  flex-direction: column;
  background-color:rgb(0, 0, 0, 0.5);
  height: 840px;
  justify-content: center;
  align-items: center;
  color: white;
}
#home::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: url('../images/contact_img/img1.jpg') no-repeat center center/cover;
  height: 900px;
  width: 100%;
  z-index: -1;
  opacity: .8;
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 30%;
  right: 10%;
  width: 40%;   /*cambiato per fare in modo che i carousel non cambino la dimensione ogni volta*/
}
.headings{
  font-size: 3rem;
  text-align: center;
  margin: 10px 0px;
}

#carousel-words{
  font-size: 2rem;
  text-align: center;
  margin: 40px 0;
  text-transform: uppercase;
  font-weight: bold; 
  color: white;
}


/*Hire Me Button*/
.btn {
  padding: 10px 35px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  outline: none;
  position: relative; 
  font-size: 1.5rem;
  border-radius: .50rem;
}
.btn a {
  text-decoration: none;
  color: inherit;
  font-weight: bolder;
}
.btn:hover::before {
  content: "Hire Me";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
  font-weight: bolder;
  border-radius: .50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
  z-index: -1;
}
.btn a:hover {
  text-decoration: none;
  color: black; 
  font-weight: bolder;
}
.btn:hover {
  cursor: pointer;
  color: black;
  background-color: white;
  box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
  font-size: 1.5rem;
  border-radius: .50rem;
  font-weight: bolder;
}

/* About Me Section */
.heading-secabout{
  font-size: 1.5rem;
}
.psec-about{
  font-size: 1.3rem;
}
#about{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 50px;
  padding-top: 0px;
  background-color:  #655a54;
}
#pic img:hover{
  box-shadow: 0 0 5px black, 0 0 10px white, 0 0 15px rgba(0, 0, 0, 0);
}
#pic{
  display: flex;
}
#pic img{
  width: 270px;
  height: 350px;
  border-radius: 15px;
}
#pic img:hover + #intro {
  color: white;
  transition: color 0.3s ease;
}
#intro{
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 20px;
}
#intro h3{
  font-size: 2rem;
  margin-bottom: 20px;
}
a.coffee-link {
  color: black;
  text-decoration: none;
  font-weight: normal;
  transition: color 0.3s ease, font-weight 0.3s ease;
  font-size: 1.3rem;
}
a.coffee-link:hover {
  color: white;
  font-weight: bolder;
}

/* Portfolio Section */
#portfolio h2.headings{
  margin: 0px; 
}
#portfolio .psec{
  margin-top: 0px;
}
#portfolio{
  justify-content: center;
  background-color:  #8B948B; 
  color: black;
  margin: 0px;
  padding: 10px;
}
.psec{
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: black;
  background-color: 8B948B;
}

/* Projects cards */
.pcontainer{
  display: flex;
  background: 8B948B;
  justify-content: center;
  height: 100hv;
  flex-wrap: wrap;
}
.pcard{
  height: 350px;
  margin:30px;
  box-shadow: 5px 5px 20px black;
  overflow: hidden;
  position: relative;
}
.img-port{
  height: 350px;
  width: 300px;
  border-radius: 3px;
  transition: .5s;
}
.port-intro{
  height: 50px;
  width: 300px;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  background: rgb(27,27,27,.5);
  color:rgb(255, 255, 255);
  transition: .5s;
}
.portp{
  font-size: 20px;
  margin: 20px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3 ease;
}
.porh{
  margin: 10px;
  font-size: 23px;
}
.pcard:hover{
  cursor: pointer;
}
.pcard:hover .port-intro{
  height: 200px;
  background: rgb(75, 142, 109);
  background: rgba(75, 142, 109, 0.8); 
  bottom: -100px;
}

.pcard:hover .port-intro:hover {
  bottom: 0;
}

.pcard:hover .portp{
  opacity: 1;
  visibility: visible;
}

.pcard:hover .img-port{
  transform: scale(1.1) rotate(+3deg);
}


/* Contact Me Section */
.heading-contact{
  font-size: 3rem;
  text-align: center;
  margin: 0 auto;
  background-color: #8B948B;  
  color: black;
}
#contacts {
  background-color: #94918b;
  color: black;
  justify-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #8B948B;
}

/*Card in Contact Me section*/
.box1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  background-color: #8B948B;
}

.card {
  background-color: #83817d;
  height: 35rem;
  width: 350px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 0.8rem;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: -0.1rem -0.1rem 0.3rem #fff,
                0.1rem 0.1rem 0.3rem #2c2b2b;
}

.card,
.profile-image,
.fab, 
.info-section {
  box-shadow: -0.1rem -0.1rem 0.3rem #fff,
      0.1rem 0.1rem 0.3rem #2c2b2b;
}

.profile-image {
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-area {
  height: 8rem;
  width: 8rem;
  background-image: url(../images/contact_img/img1.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.title {
  font-weight: 700;
  margin: 1.5rem 0;
  font-size: 1.5rem;
}

.social-icons {
  margin: 1.5rem 0;
}

.fab {
  height: 2.5rem;
  width: 2.5rem;
  padding: 0.7rem;
  border-radius: 50%;
  text-align: center;
  color: black;
  margin-right: 1rem;
}

.fab:hover {
  box-shadow: inset -0.1rem -0.1rem 0.3rem #fff,
      inset 0.1rem 0.1rem 0.3rem #2c2b2b;
  cursor: pointer;
}

/*Contact Info Section*/
.contact-info {
    width: 100%;
    padding: 40px;
    text-align: left;
    align-items: center;
    background-color: #8B948B;
}

.contact-info .ptitle {
    font-size: 2rem;
    margin-bottom: 20px;
}

.contact-info p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}


/*FOOTER*/
footer {
  display: flex;
  justify-content: center;  
  align-items: center;  
  height: 25px;
  width: 100%;
  background-color: #655a54;
  color: white;
  font-size: 15px;
  padding: 10px;
}

#back-to-top {
  display: none;  
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 26px;
  width: 50px;
  height: 50px;
  background-color: whitesmoke;
  color: #333;
  cursor: pointer;
  outline: none;
  border: 0.5px solid #fff;
  border-radius: 50%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#back-to-top:hover, #back-to-top:focus {
  background-color: #333;
  border: 0.5px solid #333;
  color: whitesmoke;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

#back-to-top i {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}


/* Custom style scrollbar */
::-webkit-scrollbar {
  width: 5px;
  border-radius: .25rem;
}

::-webkit-scrollbar-track {
  background: rgb(39, 37, 37);
}

::-webkit-scrollbar-thumb {
  background: whitesmoke;
  border-radius: .25rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #655a54
}


/* MEDIA QUERY */
@media screen and (min-width: 1200px) {
  .container {
    flex-direction: row;
  }

  .box1,
  .contact-info {
    width: 50%;
  }
}

@media screen and (max-width: 1199px) and (min-width: 800px) {
  .box1,
  .contact-info {
    width: 100%;
  }

  .main{
    width: 60%;
  }
}

@media screen and (max-width: 799px) {
  .container {
    flex-direction: column;
  }
}


@media screen and (max-width: 800px) {
  .navbar ul {
    flex-wrap: wrap;
    justify-content: top;
  }

  .headings {
    font-size: 2.5rem;
  }

  #pic {
    flex-direction: column;
    align-items: center;
  }

  #pic img {
    width: 250px;
    height: 300px;
  }

  #intro h3 {
    text-align: center;
    padding: 10px;
  }

  .input {
    width: 60%;
  }

  .hideOnMobile{
    display: none;
  }
  .main{
    width: 90%; 
  }
  .menu-button{
    display: block;
  }
}

@media screen and (max-width: 530px) {
  #home {
    height: 820px;
  }

  .headings {
    font-size: 1.7rem;
  }

  #pic img {
    width: 200px;
    height: 250px;
  }

  #intro h3 {
    font-size: 1.5rem;
  }
}

@media(max-width: 400px) {
  .sidebar{
    width: 100%;
  }

  .main{
    width: 95%;
  }
}
